// Front-end styles

$color-black: #000;
$color-white: #fff;

@keyframes die {

	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

.wp-block-rave-dice-roller {

	.dice-list,
	.die-list {
		display: flex;
		flex: 1 1 auto;
		flex-wrap: wrap;
		justify-content: center;
	}

	.die-icon {
		fill: $color-black;
		height: 6rem;
		margin: 0 1rem;
		stroke: $color-white;
		stroke-width: 0.075rem;
		width: 6rem;
	}

	.roll-dice {
		display: block;
		margin: 3rem auto 0;

		&:disabled {
			cursor: not-allowed;
			opacity: 0.5;
		}
	}

	.die-list {
		margin: 1rem 0;

		&.rolling {

			.die-icon {
				animation-duration: 0.75s;
				animation-name: die;
				transform-origin: 50% 50%;
			}
		}

		.die-result {
			flex-basis: 100%;
			text-align: center;
		}
	}

	.die-roll {
		text-align: center;
	}
}
