// Front-end styles

@keyframes die {

	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

.wp-block-rave-dice-roller {

	.dice-list,
	.die-list {
		display: flex;
		justify-content: space-around;
	}

	.die-icon {
		animation-duration: 1s;
		animation-iteration-count: infinite;
		animation-name: die;
		height: 6rem;
		margin: 0 1rem;
		transform-origin: 50% 50%;
		width: 6rem;
	}

	.roll-dice {
		display: block;
		margin: 3rem auto 0;
	}
}
