// Front-end styles

@keyframes die {

	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

.wp-block-rave-dice-roller {

	.dice-list,
	.die-list {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
	}

	.die-icon {
		height: 6rem;
		margin: 1rem;
		width: 6rem;
	}

	.roll-dice {
		display: block;
		margin: 3rem auto 0;
	}

	.die-list {

		&.rolling {

			.die-icon {
				animation-duration: 1s;
				animation-name: die;
				transform-origin: 50% 50%;
			}
		}
	}

	.die-roll {
		text-align: center;
	}
}
